header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1260px;
    margin: 0 auto;
}

.logo{
    font-size: 24px;
}

.logo:hover {
    color: #0f79ba; 
    transform: scale(1.1); 
    transition: color 0.3s, transform 0.3s; 
}


.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #0f79ba;
}

#about h2 {
    color: #0f79ba;
}

#about {
    background-color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#about p{
    max-width: 1260px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 17px;
}

#about video {
    max-width: 100%;
}

#services h2 {
    color: #0f79ba;
}

#services {
    padding: 20px 0;
    text-align: center;
}

.service {
    margin-bottom: 40px;
}

.service img {
    margin: 0 5px;
    width: 400px;
    height: 300px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}


.service img:hover {
    transform: scale(1.1);
    border-color: #333;
}

#services h3 {
    color: #0f79ba;
}

#contact {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

#contact-form input,
#contact-form textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

#contact-form button {
    padding: 10px 20px;
    background-color: #0f79ba;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #6044fc;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-info p {
    margin: 5px 0;
    margin-bottom: 10px;
}

.social-links a {
    margin: 0 10px;
}

.social-links img {
    max-width: 20px;
    max-height: 20px;
}
